ant*.tex
mat*.tex
al*.tex
co*.tex
grad*.tex
in*.tex
of*.tex
*.aux
*.gaux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
